:root {
  --bg-color: #121212;
  --text-color: #ffffff;
  --accent-color: #1db954;
  --secondary-bg: #282828;
  --secondary-text: #b3b3b3;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: var(--text-color);
  background-color: var(--bg-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary-bg);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--accent-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input,
textarea {
  background-color: var(--secondary-bg);
  color: var(--text-color);
  border: 1px solid #333;
  border-radius: 4px;
  padding: 8px;
  font-family: inherit;
}

input:focus,
textarea:focus {
  outline: 2px solid var(--accent-color);
  border-color: transparent;
}